@font-face {
  font-family: 'Alliance No.2';
  font-weight: 300;
  src: url('fonts/Alliance-No-2-Light.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Alliance No.2';
  font-weight: 400;
  src: url('fonts/Alliance-No-2-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Alliance No.2';
  font-weight: 600;
  src: url('fonts/Alliance-No-2-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Blimone';
  font-weight: 200;
  src: url('fonts/Blimone-ExtraLight.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Blimone';
  font-weight: 300;
  src: url('fonts/Blimone-Light.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Blimone';
  font-weight: 400;
  src: url('fonts/Blimone-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Blimone';
  font-weight: 800;
  src: url('fonts/Blimone-ExtraBold.woff') format('woff');
  font-display: swap;
  font-feature-settings: 'salt' 1;
}
